<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>授業科目</title>
</head>
<body>
  <h2>授業の詳細</h2>
  <table border="1">
    <tr><th>ID</th><th>教科名</th><th>教員指名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.title %></td>
        <td><a href="/subject/<%= number %>"><%= row.teacher %></a></td></tr>
        <td><a href="/subject/delete/<%= number %>">削除</a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/subject/create">追加</a>
</body>
</html>